/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5803d;
  padding: 15px 30px;
  color: white;
}

.navbar nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  transition: 0.3s;
}

.navbar nav a:hover {
  color: #222;
}

/* HERO */
.hero {
    
  height: 90vh;
  background: url('hero.jpg') no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-text h1 {
  font-size: 3rem;
}

.hero-text p {
  margin: 15px 0;
}

/* BUTTON */
.btn {
  background: #ff9800;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #e68900;
  transform: scale(1.1);
}

/* SECTIONS */
.section {
  padding: 50px;
  text-align: center;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  transition: 0.3s;
}

/* HOVER EFFECT */
.card:hover {
  transform: translateY(-10px);
  background: #4CAF50;
  color: white;
}

/* CONTACT */
.contact {
  background: #eee;
}

/* FOOTER */
footer {
  background: #333;
  color: white;
  padding: 15px;
  text-align: center;
}