* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  background-image: url(payment.avif);
}

/* NAVBAR */
.navbar {
  background: #f3a138;
  color: white;
  padding: 15px;
  text-align: center;
}

/* CONTAINER */
.payment-container {
  max-width: 400px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* TOTAL BOX */
.total-box {
  background: #eee;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

/* FORM */
.payment-form {
  display: flex;
  flex-direction: column;
}

.payment-form label {
  margin-top: 10px;
}

.payment-form input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* BUTTON */
.payment-form button {
  margin-top: 20px;
  padding: 12px;
  background: #ff9800;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.payment-form button:hover {
  background: #e68900;
}